.addsongplay {
  background-image: url("../images/playlistsongs.jpg");
  width: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.addsongplaycontainer {
  padding-top: 35px;
}

.addsongslist {
  margin: auto;
  width: auto;
  display: inline;
  text-align: justify !important;
  align-content: center;
}

.addlabel{
  text-indent: 1cm;
}
.myaddsongs {
  list-style-type: none;
}

.addsongscard {
  width: 50rem;
  justify-content: center;
  margin: 20px auto;
}

.addcardbody {
  line-height: 1%;
}

.songelement {
  background-color: azure;
}

.songtable,
td {
  width: 700px;
  margin: auto;
  border: 2px solid black;
}

.scrollbar {
  /* margin-left: 30px; */
  float: left;
  height: 325px;
  width: 100%;
  /* background: #fff; */
  overflow-y: scroll;
  /* margin-bottom: 25px; */
}

.scrollbar-deep-blue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-deep-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-deep-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #e0c3fc 0%, #8ec5fc 100%);
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.scrollbar-deep-blue {
  scrollbar-color: #8ec5fc #f5f5f5;
}
