.changepass {
  background-image: url("../images/signin.jpg");
  width: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  color: orange;
}

.passcontainer {
  padding-top: 50px;
  text-align: center;
}

@media only screen and (max-width: 840px) {
  .changepass {
    height: 100vh;
  }
}
