.update-card {
  width: 70%;
  margin: auto;
  border-radius: 15px;
}

.editbuttons {
  list-style-type: none;
  justify-content: center;
  padding: 20px;
  text-indent: 1cm;
  display: inline-flex;
}